{extend name="layout" /}
{block name="plugins-css"}
<link rel="stylesheet" href="__STATIC__/home/fonts/player/iconfont.css">
<link rel="stylesheet" type="text/css" media="screen" href="__HOME_CSS__/player/reset.css" />
<link rel="stylesheet" type="text/css" media="screen" href="__HOME_CSS__/player/player.css" />
<style type="text/css">

tbody tr:hover{
	background:#C7EDCC;
}
    
</style>
{/block}
{block name="content"}
<!-- 播放器 -->
    <div class="music-player">
        <!-- audio标签 -->
        <audio class="music-player__audio" ></audio>
        <!-- 播放器主体 -->
        <div class="music-player__main">
            <!-- 模糊背景 -->
            <div class="music-player__blur" ></div>
            <!-- 唱片 -->
            <div class="music-player__disc">
                <!-- 唱片图片 -->
                <div class="music-player__image">
                    <img width="100%" src="{:get_file_path($bookinfo['img'])}" alt="{$bookinfo.name}">
                </div>
                <!-- 指针 -->
                <div class="music-player__pointer"><img width="100%" src="__HOME_IMG__/player/cd_tou.png" alt=""></div>
            </div>
            <!-- 控件主体 -->
            <div class="music-player__controls">
                <!-- 歌曲信息 -->
                <div class="music__info">
                    <h3 class="music__info--title">...</h3>
                    <p class="music__info--singer">...</p>
                </div>
                <!-- 控件... -->
                <div class="player-control">
                    <div class="player-control__content">
                        <div class="player-control__btns">
                            <div class="player-control__btn player-control__btn--prev"><i class="iconfont icon-prev"></i></div>
                            <div class="player-control__btn player-control__btn--play"><i class="iconfont icon-play"></i></div>
                            <div class="player-control__btn player-control__btn--next"><i class="iconfont icon-next"></i></div>
                            <div class="player-control__btn player-control__btn--mode"><i class="iconfont icon-loop"></i></div>
                        </div>
                        <div class="player-control__volume">
                            <div class="control__volume--icon player-control__btn"><i class="iconfont icon-volume"></i></div>
                            <div class="control__volume--progress progress"></div>
                        </div>
                    </div>

                    <!-- 歌曲播放进度 -->
                    <div class="player-control__content">
                        <div class="player__song--progress progress"></div>
                        <div class="player__song--timeProgess nowTime">00:00</div>
                        <div class="player__song--timeProgess totalTime">00:00</div>
                    </div>

                </div>

            </div>
        </div>
       
    </div>

 <div class="container">
        <!-- Wishlist Page Content Start -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Wishlist Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
	                        <tr>
	                        	<th class="pro-thumbnail">序号 </th>
	                            <th class="pro-title">名称</th>
	                            <th class="pro-thumbnail">大小</th>
	                            <th class="pro-thumbnail">点击量</th>
	                            <th class="pro-remove">操作</th>
	                        </tr>
                        </thead>
                        <tbody id="musics">
                        {foreach $list as $lk => $vo}
                        	 	
                        	 <tr>
                        	 	<input type="hidden" name="mp3" value="{$vo.audio_url}" />
                        	 	<input type="hidden" name="id" value="{$vo.id}" />
                        	 	<!-- <input type="hidden" name="mp3" value="{:url('Audio/getMp3Addr',array('id' => $vo['id']))}" /> -->
                        	 	<td class="pro-thumbnail">{$lk+1}</td>
	                            <td class="pro-title">{$vo.name}</td>
	                            <td class="pro-thumbnail">{$vo.size}</td>
	                            <td class="pro-thumbnail">{$vo.click}</td>
	                            <td class="pro-remove"><i class="fa fa-play"></i></td>
	                        </tr>
                        {/foreach}
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Wishlist Page Content End -->
    </div>
{/block}

{block name="script"}
<script src="__HOME_JS__/player/utill.js"></script>
<script src="__HOME_JS__/player/player.js"></script>
<script>
	$(function(){
		let player = new Player();
		$("#musics > tr").each(function(){
			var song ={};
			song.title = $(this).children('.pro-title').html();
			song.songUrl = $(this).children('input').val();
			song.singer = "未知";
			song.id = $(this).children('[name=id]').val();
			player.addSong(song);
		});
		console.log(player.musics.songs)
		player.run();
		
	})
</script>
	
{/block}
