<!--== Start Slider Area ==-->
<div class="slider-area-wrap slider__2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 ml-auto">
                <div class="slider-carousel owl-carousel">
                    <div class="single-slide-item">
                        <a href="#"><img src="__HOME_IMG__/home2-slider-img-1.jpg" alt="Slide"></a>
                    </div>
                    <div class="single-slide-item">
                        <a href="#"><img src="__HOME_IMG__/home2-slider-img-2.jpg" alt="Slide"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Slider Area ==-->